<div>
    <form [formGroup]="myForm" class="submit-form" (ngSubmit)="saveBranch()">
      <div> <!-- -->
        <div class="form-group">
          <label for="code">Branch code</label>
          <input  type="text" class="form-control" id="code" required formControlName="branch_code"
        /> 
        </div>
  
        <div class="form-group">
            <label for="name">Branch name</label>
            <input  type="text" class="form-control" id="name" required formControlName="branch_name"
             /> 
        </div>

        <div class="form-group">
            <label for="address">Branch address</label>
            <input  type="text" class="form-control" id="address" required formControlName="address"
            />
        </div>
  
        <button class="btn btn-success">Submit</button>
      </div>
  
      <div> <!---->
        <!-- Branch updated successfully
     <button class="btn btn-success" (click)="back()">back</button> -->
      </div>
    </form>
  </div>

